.mainbo{
    border-style: outset;
    width: 90%;
    height: 600px;
    opacity: 1;
    border-color: aliceblue;
    border-collapse: collapse;
    margin-left: 100px;
    border-top: 20px;
    border-bottom: 2px;
    margin-top: 50px;
}
.nobor{
border-style: hidden;
width: 90%;
height: 106px;
opacity: 1;
border-color: aliceblue;
border-collapse: collapse;
border-bottom: aliceblue;
margin-left: 100px;
display: flex;
}
span{
    font-size: 25px;
    font-weight: bold;
    color: green;
    margin: 20%;
}
img{
    margin-left: 30%;
    height: 50px;
}
.opecbor{
        border-style: hidden;
        width: 100%;
        height: 500px;
        opacity: 0.8;
        display: flex;
        margin-right: 30px;
        background-color: rgba(128, 128, 128, 0.067);
}
.empcl{
    font-weight: 800;
    font-size: 25px;
    color: blueviolet;
    margin-left: 110px;
}
button{
    background-color: green;
    font-size: 25px;
    font-weight: bold;
    margin-right: 50px;
    width: 150px;
}
.material-symbols-outlined{
    color: black;
    margin-left: -40px;
    margin-top: -40px;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin-left: -100px;
    margin-top: 80px;
    height: 30px;
    color: black;
    border-radius: 5px;
  }
  .tabbor{
    border-style: hidden;
    width: 90px;
    height: 100px;
    opacity: 1;
    background-color: white;
  }
  th {
    padding: 8px;
    background-color: black;
    color: white;
    font-weight: bold;
    height: 20px;
  }
  tr{
    border: 1px solid rgba(0, 0, 0, 0.108);
    padding: 8px;
  }